.insights_container {
   padding: 2rem 0rem 0 5rem;
}

.insights__headline {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #faff02;
  width: fit-content;
  height: fit-content;
  padding: 1rem 1.25rem;
  border-radius: 10px;
  box-shadow: rgb(0, 0, 0) 5px 5px;
}
.insights__headline h3 {
  font-size: 20px;
  letter-spacing: 1px;
}
.insights__headline img {
  height: 15px;
  width: 15px;
}
@media screen and (min-width: 481px) and (max-width: 1080px) {
    .insights_container {
        padding: 1rem 10px;
    }
    
}
@media screen and (min-width: 100px) and (max-width: 480px) {
    .insights_container {
        padding: 1rem 10px;
    }
}